body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.navbar{

background-color: blue;

color: black;
font-size: 25;
}
.list-in-nav{

color: black;

}
.container{

justify-content: end;

}
.footer{
display: flex;
justify-content: center;

}
.push{

    height: 80vh;;

}
.footer{

    background-color: blue;
    margin-top: auto;
    padding: 25px;
}