.line-one{

    line-height: 10px;

}
.line_three{
    
    line-height: 10px;

}

.line_four{
    
    line-height: 10px;

}

.line_five{
    
    line-height: 10px;

}

.line_six{
    
    line-height: 10px;

}

.bold{

    font-weight: bold; 

}

.line-pad{

margin-right: 69em;

}